{% extends 'base.html' %}
{%load static%}


{% block extraStyle %} 
<style>
  

    /* .fontStyle{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
        } */


    .viewMoreStyle{
        font-weight:bold;
        /* cursor:pointer;
        text-decoration: underline; */
    }


    .boldFont{
        font-weight: bold;
    }

    .alignRight{
        text-align: right;
    }

    .alignLeft{
        text-align: left;
    }

    .rightAlignButton{
        float: right;
    }

    .fontSize{
        font-size: 14px !important;
    }


	.required:after {
		content:"*";
		color: red;
		display:inline;
		font-weight: bold;
	  }



    .inputBoxHeight{
        height:40px;
    }


    .img3icon {
    margin-right: 7px;
    height: 17px;
    }

    .inputFieldSize{
        border-radius:35px;
        font-size:15px;
    }

    .pointerLink{ 
        cursor: pointer; 
        } 

    .modal-footer{
        justify-content: center;
    }
  


</style>

</style>   
{% endblock %}


{% block content %}
<!-- INNER CONTENT  -->

        <div class="container my-4">

            <div>
                <!-- Button trigger modal -->
                <div align="right">
                    <button type="button" onclick="$('#addHeaderTask').show();
                    $('#editHeaderTask').hide();$('#addTaskBtn').show();$('#editTaskBtn').hide();" class="btn btn-success inputFieldSize"  data-bs-toggle="modal" data-bs-target="#taskModal"><img src="{{baseUrl}}static/images/AddVM.png" class="img3icon">
                        Add Task
                    </button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addHeaderTask">Add Task</h1>
                        <h2 class="modal-title fs-5" style="display:none;" id="editHeaderTask">Edit Task</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <p id="taskId" style="display:none;"></p>

                                <div class="row">
                                    <div class="col-4">
                                        <label class="required boldFont alignLeft" for="titleName">Title</label>
                                    </div>
                                    <div class="col-8">
                                        <input  type="text" id="titleName" placeholder="Title Name" class="form-control inputFieldSize">
                                    </div>
                                </div>

                                <div class="row my-3">
                                    <div class="col-4">
                                        <label class="required boldFont alignLeft" for="description">Description</label>
                                    </div>
                                    <div class="col-8 form-floating">
                                        <textarea class="form-control" placeholder="Leave a comment here" id="description"></textarea>
                                        <label for="description">Description</label>
                                    </div>
                                </div>

                                <div class="row my-3">
                                    <div class="col-4">
                                        <label class="required boldFont alignLeft" for="status">Status</label>
                                    </div>
                                    <div class="col-8">
                                        <select id="status" class="form-select inputFieldSize" aria-label="Default select example">
                                            <option value="">Select Status</option>
                                            <option value="Pending">Pending</option>
                                            <option value="Completed">Completed</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"  onclick="addTask()" id="addTaskBtn" style="width:20%" class="btn btn-success inputFieldSize">Add</button>
                            <button type="button" onclick="updateTask()" id="editTaskBtn" style="display:none;width:20%" class="btn btn-success inputFieldSize">Update</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div>
                <table class="table table-striped table-borderless my-3" id="taskTable">
                    <thead>
                        <tr>
                            <th scope="col">Sr.</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Status</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in taskDetails %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{data.title}}</td>
                            <td>{{data.description}}</td>
                            {% if data.status == 'Pending' %}
                            <td class="boldFont" style="color:rgb(10, 102, 213)">{{data.status}}</td>
                            {% elif data.status == 'Completed' %}
                            <td class="boldFont" style="color:rgb(8, 151, 8)">{{data.status}}</td>
                            {% endif %}
                            <td><img class="pointerLink" style="height:23px;" src="{{baseUrl}}static/images/edit.png" onclick="showModalDetails('{{data.id}}')"></td>
                            <td><img class="pointerLink" style="height:20px;" src="{{baseUrl}}static/images/DeleteImg.png" onclick="deleteTask('{{data.id}}');"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

  <!-- End #main -->

<!-- container closed -->

{% endblock %}






{% block js %} 
<!-- Adding script here  -->

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

<!--pagination-->
<script>
    $(document).ready( function () {
        $('#taskTable').DataTable({"searching": false,"pageLength":5,"bInfo": false,"ordering": false,"bLengthChange": false,});
    });

</script>


<script>

</script>



<script>
    function showModalDetails(id){
        console.log("******************* showModalDetails() ********************")

        $('#addHeaderTask').hide();
        $('#editHeaderTask').show();

        $('#addTaskBtn').hide();
        $('#editTaskBtn').show();

        payload= JSON.stringify({
                'id': id
                })
        console.log("payload ------->",payload)
    
        
        $.ajax({
            url: "{{baseUrl}}showModalDetails",
            type: "POST",
            data:{
            'payload': payload,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
            },

            success: function(data) {
                var resp = data;
                console.log("resp ---->",resp);

                if (resp.status == true){
                    var tsk = resp.taskDetails[0]
                    console.log("tsk ---->",tsk)
                    
                    $('#taskId').val(tsk.id);
                    $('#titleName').val(tsk.title);
                    $('#description').val(tsk.description);
                    $('#status').val(tsk.status);
                }
                else{
                    alert(data.message);
                }       
            },

            complete: function(){},
            error: function(xhr,textStatus,thrownError){cold}
            });

        $('#taskModal').modal('show');
    }
</script>





<script>
    function deleteTask(id){
        console.log("******************* deleteTask() ********************")

        // Using confirm() to show a confirmation dialog
        let confirmed = confirm("Do you want Delete?");

        if (confirmed) {
            payload= JSON.stringify({
                            'id': id
                        })
            console.log("payload ------->",payload)

            $.ajax({
                url: "{{baseUrl}}deleteTask",
                type: "POST",
                data:{
                    'payload': payload,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },

                success: function(data) {
                    console.log("data ---->",data);
                    var status = data.status
                    console.log("status ---->",status);

                    if (status == true){
                        alert(data.message);
                        window.location.reload();
                    }
                    else{
                        alert(data.message); 
                    }  
                },

                complete: function(){},
                error: function(xhr,textStatus,thrownError){cold}
                });
            }
        else {
            // User clicked Cancel in the confirmation dialog
            return;
        }
    }
</script>

<script>
    function updateTask(){
        console.log("******************* updateTask() ********************")

        var taskId = $('#taskId').val();
        console.log("taskId ----->",taskId)

        var titleName = $('#titleName').val();
        console.log("titleName ----->",titleName)

        var description = $('#description').val();
        console.log("description ----->",description)

        var status = $('#status').val();
        console.log("status ----->",status)

        if (titleName == ""){
            alert("Title can not be blank!");
            return;
        }
        else if (description == ""){
            alert("Description can not be blank!");
            return;
        }
        else if (status == ""){
            alert("Status can not be blank!");
            return;
        }

        payload= JSON.stringify({
                'taskId': taskId,
                'titleName': titleName,
                'description': description,
                'status': status
                })
        console.log("payload ------->",payload)
    
        
        $.ajax({
                url: "{{baseUrl}}updateTask",
                type: "POST",
                data:{
                'payload': payload,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
                },

                success: function(data) {
                    var resp = data;
                    console.log("resp ---->",resp);

                    if (resp.status == true){
                        alert(data.message);
                        window.location.reload();
                    }
                    else{
                        alert(data.message);
                    }       
                },

                complete: function(){},
                error: function(xhr,textStatus,thrownError){cold}
                });
    }
</script>




<script>
    function addTask(){
        console.log("******************* addTask() ********************")

        var titleName = $('#titleName').val();
        console.log("titleName ----->",titleName)

        var description = $('#description').val();
        console.log("description ----->",description)

        var status = $('#status').val();
        console.log("status ----->",status)

        if (titleName == ""){
            alert("Enter Title Name!");
            return;
        }
        else if (description == ""){
            alert("Enter Description!");
            return;
        }
        else if (status == ""){
            alert("Choose Status!");
            return;
        }

        payload= JSON.stringify({
                'titleName': titleName,
                'description': description,
                'status': status
                })
        console.log("payload ------->",payload)
    
        
        $.ajax({
                url: "{{baseUrl}}addTask",
                type: "POST",
                data:{
                'payload': payload,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
                },

                success: function(data) {
                    var resp = data;
                    console.log("resp ---->",resp);

                    if (resp.status == true){
                        alert(data.message);
                        window.location.reload();
                    }
                    else{
                        alert(data.message);
                    }       
                },

                complete: function(){},
                error: function(xhr,textStatus,thrownError){cold}
                });
    }
</script>



{% endblock %}













